@font-face {
    font-family: 'VkSans';
    src: url('./fonts/VKSansDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VkSans';
    src: url('./fonts/VKSansDisplay-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: VkSans;
}

.main{
    width: 375px;
    height: 812px;
    background: linear-gradient(180deg, #0074FF -46.49%, #A3CDFF 100%);
    display: flex;
    flex-direction: column;
}
.up{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 15%;
}
.down{
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
}
.logo{
    width: 239px;
    height: 28px;
}
.window{
    width: 280px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.enter-text{
    font-size: 20px;
    text-align: center;
}
.inputs{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;

}
.input{
    width: 250px;
    height: 30px;
    background-color: #D9D9D9;
    border: 0cm;
    border-radius: 4px;
}

.forgot{
    font-size: 12px;
    color: #FF6060;
    text-align: right;
    display: flex;
    flex-direction: column-reverse;
    margin-right: 15px;
}
.enter-button{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 15px;

}
.button{
    width: 147px;
    height: 36px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0cm;
    background: #2688EB;
    border-radius: 6px;
    color: white;
    font-size: 20px;
}

.create{
    display: flex;
    width: 100%;
    height: 10%;
}
.purple{
    color: #593EFF;
}
a{
    color: inherit;
    text-decoration: none;
    margin-bottom: 5%;
}