@font-face {
    font-family: 'VkSans';
    src: url('./fonts/VKSansDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VkSans';
    src: url('./fonts/VKSansDisplay-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: VkSans;
    font-weight: bold;
}
.main{
    width: 375px;
    height: 812px;
    background: linear-gradient(180deg, #0074FF -46.49%, #A3CDFF 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 130px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.block1{
    width: 350px;
    height: 30px;
    border-radius: 7px;
    background-color:white ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.block2{
    width: 350px;
    height: 60px;
    border-radius: 7px;
    background-color: white;
    display: flex;
    margin-bottom: 10px;
}
.avatarBox{
    width: 20%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar{
    width: 35px;
    height: 35px;
    background-color: red;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.initial{
    color: white;
}
.info{
    width: 80%;
    height: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.role{
    height: 20px;
    width: 120px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;  
    justify-content: center;  
    background-color: #A3CDFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.status{
    height: 50%;
    width: 100%;
    display: flex;
    margin-top: 7px;
}
.name{
    margin-top: 5px;
}
.group{
    height: 20px;
    width: 80px;
    border-radius: 5px; 
    background-color: #A3FFCD;
    display: flex;
    align-items: center;  
    justify-content: center;  
    margin-left: 14px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.block3{
    height: 160px;
    width: 350px;
    background-color: white;
    border-radius: 7px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.title{
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}
.admin{
    display: flex;
    flex-direction: column;
}
.block4{
    height: 160px;
    width: 350px;
    background-color: white;
    border-radius: 7px;
    padding-left: 10px;
    margin-bottom: 240px;
}
.menu{
    height: 20px;
    width: 100%;
    margin-bottom: 3px;
    display: flex;

}
.icon{
    margin-right: 5px;
}
.out{
    height: 30px;
    width: 350px;
    background-color: white;
    color: red;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
